@use "../../App.scss" as *;

.main-header {
  box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
}

.main-header-wrapper {
  width: 90vw;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.user {
  color: $orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 20rem;

  span {
    height: 2.2rem;
    width: 0.2rem;
    background-color: $orange;
    margin: 0 1rem;
    border-radius: 2px;
  }

  &__login {  
  }

  &__reg {
    h2 {
      font-weight: normal;
    }
  }
}

.logo-area {
  color: $blue;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  flex: 2 1 20rem;

  &__city {
    flex: 1 1 10rem;
    text-align: end;
  }

  &__logo {
    svg {
      vertical-align: middle;
    }
    flex: 1 1 10rem;
  }

  &__tel {
    flex: 1 1 10rem;
    text-align: start;
  }
}

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 20rem;
  color: $white;
}
