@use "../../App.scss" as *;

.main-header {
  background-color: $darkgrey;
  box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  font-family: "MPlusRounded-M";
  z-index: 10;
}

.main-header-wrapper {
  width: 90%;
  margin: auto;
  padding: 0.7rem 0;
  display: flex;
}

.logo-area {
  color: $blue;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  flex: 2 1 20rem;

  &__city {
    flex: 1 1 10rem;
    text-align: end;
  }

  &__logo {
    svg {
      vertical-align: middle;
    }
    flex: 1 1 10rem;
  }

  &__tel {
    flex: 1 1 10rem;
    text-align: start;
  }
}

.cart-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 20rem;
}

.cart-btn {
  cursor: pointer;
  color: $white;
  font-family: "MPlusRounded-L", "Calibri";
  border-radius: 1rem;
  background-color: $orange;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.3rem 2rem;

  &:hover {
    background-color: #c5672b;
    transition: background-color 0.3s ease;
  }
  &:active {
    background-color: $orange;
    transition: background-color 0.1s ease;
  }

  &__icon {
    margin-right: 2rem;
    svg {
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 768px) {

  .logo-area {
    &__tel,
    &__city {
      display: none;
      order: 2;
    }
    text-align: left;
    flex: 1 1 10rem;
  }

  .cart-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
   flex: 1 1 10rem;
}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
   .logo-area {
    &__tel,
    &__city {
      display: none;
    }
  }
  
}
