@font-face {
  font-family: "MPlusRounded-M";
  src: url("../src/fonts/MPLUSRounded1c-Medium.woff2");
}
@font-face {
  font-family: "MPlusRounded-R";
  src: url("../src/fonts/MPLUSRounded1c-Regular.woff2");
}
@font-face {
  font-family: "MPlusRounded-L";
  src: url("../src/fonts/MPLUSRounded1c-Light.woff2");
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$orange: #f28f50;
$darkgrey: #292929;
$grey: #494949;
$white: #ffffff;
$blue: #c3ecf2;

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $darkgrey;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
    overflow-x: hidden;
}

.lock {
  overflow: hidden;  
}
